@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .navigation-bar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $primary;
        z-index: 100000;

        &.shadow {
            box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.075);
        }

        a.nav-link {
            color: $white;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 300;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }
    }
}

section.banner {
    margin-top: 94px;

    .banner_inner {
        margin-top: 50px;
        background: radial-gradient(69.66% 90.92% at 23.65% 31.31%, #0199DC 0%, #1556BB 100%);
        border-radius: 20px;
        padding: 100px 0 115px;
        position: relative;

        .superhero-img {
            position: absolute;
            top: -80px;
            right: 134px;
            z-index: 100;
        }

        .quickContact_btn {
            transform: skewX(-19deg);

            .quickContact_btnInner {
                transform: skewX(19deg);
                font-weight: 600;
                padding: 15px 12px;
                font-size: 0.875rem;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }
            }

            &.bordered {
                border: 2px solid $white;

                .quickContact_btnInner {
                    padding: 13px 12px;
                }
            }
        }
    }

    .banner_cta {
        background-color: $tertiary;
        border-radius: 20px;
        padding: 30px 60px;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 800;
        position: relative;

        .price_tag {
            position: absolute;
            width: 230px;
            height: 230px;
            padding: 30px;
            background: linear-gradient(180deg, #F31A27 0%, #A60A12 100%);
            border-radius: 500px;
            right: 0;
            top: -165px;
            z-index: 200;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: italic;
            line-height: 1;
        }
    }
}

section.deals {
    padding: 140px 0;

    .deal-superhero {
        position: absolute;
        width: 100%;
        left: -9px;

        img {
            position: relative;
            z-index: 100;
        }
    }

    .deal-card {
        border-radius: 20px;
        background: linear-gradient(180deg, #0A7BCE 0%, rgba(10, 123, 206, 0.5) 100%);
        padding: 30px 26px;
        text-align: center;
        z-index: 101;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: 900;
            line-height: 1;
            font-size: 1.5rem;
        }

        .image {
            width: 100%;
            padding: 42px 0 30px;
        }

        a {
            transition: 0.2s all;

            &:hover {
                border: 0;
                background-color: $secondary;
            }
        }

    }
}

section.about-us {
    background: imgUrl('about.png') right center;
    padding: 228px 0;
}

section.brands {
    padding: 125px 0;
}

section.services {
    padding: 139px 0;

    .service-card {
        background: linear-gradient(180deg, #0A7BCE 0%, rgba(10, 123, 206, 0.5) 100%);
        border-radius: 20px;
        padding: 30px;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: relative;

        .service-card-description .title,
        .service-card-inner .title {
            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
            padding: 30px 0;
            line-height: 1;
            text-transform: uppercase;
        }

        .service-card-inner {
            transition: 0.3s all ease-in;

            .service-img {
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
            }
        }

        .service-card-description {
            position: absolute;
            padding: 0 30px;
            top: 100%;
            transition: 0.3s all ease-in;
            font-size: 1.25rem;
            text-align: center;
        }

        &:hover {
            .service-card-inner {
                transform: translateY(-100%);
            }

            .service-card-description {
                top: 0;
            }
        }
    }
}

section.why-us {
    padding: 126px 0 142px;
    position: relative;

    .hero-van {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

section.packages {
    padding: 220px 0;

    .package-card {
        border-radius: 20px;
        height: 100%;
        background: linear-gradient(180deg, #0A7BCE 0%, rgba(10, 123, 206, 0.5) 100%);
        padding: 0 60px 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .top-card {
            border-radius: 10px;
            padding: 25px 40px;
            text-align: start;
            width: 90%;
            margin-top: -20px;
        }

        ul {
            margin: 60px 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                font-size: 1.25rem;
                font-weight: 700;
                color: $light;
                opacity: 0.2;
                padding: 10px 0;
                line-height: 1;
                position: relative;

                &.active {
                    opacity: 1;

                    &::before {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0538 0.113328C23.9219 0.286433 23.3437 0.669052 21.1302 2.71012C17.3323 6.21191 14.1444 9.91754 11.1428 14.3193L10.5054 15.2539L9.52071 14.2185C7.92844 12.544 6.64518 11.6982 5.18408 11.3599C4.76047 11.2618 3.64024 11.1816 2.24947 11.1497L0 11.0981L0.35518 11.3486C3.85986 13.8211 6.48073 16.4214 8.53757 19.467C8.93561 20.0563 9.58085 21.093 9.97167 21.7707L10.682 23.0029L11.8387 21.0621C16.0211 14.0448 20.8309 7.68864 26.4828 1.71019C27.3172 0.827551 28 0.0794263 28 0.0478139C28 -0.0437531 25.7548 0.0061727 25.0538 0.113328Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat no-repeat;
                        background-position: center center;
                        height: 24px;
                        width: 28px;
                        background-size: cover;
                        position: absolute;
                        top: 5px;
                        left: -2.7rem;
                    }
                }
            }
        }
    }
}

section.testimonials {
    padding: 50px 0;

    .testimonial-slider {
        .slick-track {
            display: flex;
            gap: 12px;
        }

        .slick-slide {
            height: inherit;
        }

    }

    .testimonial-slider-content {
        background: linear-gradient(180deg, #0A7BCE 0%, rgba(10, 123, 206, 0.5) 100%);
        border-radius: 20px;
        padding: 30px;
        height: 100%;
        transition: 0.2s all ease-in-out;

        &:hover {
            background: linear-gradient(180deg, #198EE3 0%, #176FBF 100%);
            transition: 0.5s all ease-in-out;
            transform: scale(1.05);
        }
    }
}

section.form {
    padding: 224px 0 44px;

    .form_inner {
        background: linear-gradient(180deg, #198EE3 0%, rgba(25, 142, 227, 0.5) 100%);
        border-radius: 20px;
        padding: 70px;
        position: relative;
        color: $white;

        form {
            padding-top: 50px;

            .form_row {
                --bs-gutter-y: 40px;
            }

            input[type="file"] {
                display: none;
            }

            input {
                padding: 0 0 8px 0;
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid $white;
                color: $white;
                background: none;
                font-size: 1.25rem;

                &::placeholder {
                    color: $white;
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .form-superhero {
            position: absolute;
            top: -16px;
            right: 87px;
        }
    }
}

footer {
    color: $grey;
    padding: 55px 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}